$white: #ffffff;
$black: #192024;
$yellow: #e2a62b;
$blue: #178ed3;
$grey: #aaaaaa;
$green: #20ac99;
$body-bg: #edeff2;
$chat-heading-color: #2d3e4f;
$chat-active-color: #868e94;
$profile-border-color: #bec3c7;
$profile-update-menu: #ecf0f1;
$profile-navigation-color: #49647b;