/* Small Screens */
@media screen
and ( min-width: 320px )
and ( max-width: 480px ){
	#main_navigation{
		height: 60px !important;
		.container-fluid{
			padding: 0px !important;
		}
		.navbar-collapse{
			background-color: darken( $white, 5% ); 
		}
		.navbar-nav{
			li{
				a{
					color: $grey !important; 
					text-align: center;
					margin: 0px !important;
				}
				.admin{
					margin: 0px !important;
				}
			}
		}
	}
	#wrapper_profile_content{
		#profile_content{
			#profile_header{
				padding: 0px !important;
				margin: 0px !important;
				#cover_image{
					height: 200px !important;
				}
			} 
		}
		#feeds{
			#post{
				margin: 0px !important;
				margin-top: 10px !important;
			}
			#feed{
				margin: 0px !important;
				margin-top: 10px !important;
				.feed-header{
					.time{
						margin-right: 0px !important;
						margin-top: -24px !important;
					}
				}
				.comment{
					.time{
						display: block;
						margin-left: 0px !important;
					}
					.reply{
						margin-left: -27px !important;
						font-size: 12px;
					}
					.like{
						font-size: 12px;
						margin-left: -5px !important;
					}
				}
			}
		}
	}
}

/* Small Screens Landscape */
@media screen
and ( min-width: 320px )
and ( max-width: 480px )
and ( orientation: landscape ){
	
}

/* Smarth Phones */
@media screen
and ( min-width: 481px )
and ( max-width: 767px ){
	#main_navigation{
		height: 60px !important;
		.container-fluid{
			padding: 0px !important;
		}
		.navbar-collapse{
			background-color: darken( $white, 5% ); 
		}
		.navbar-nav{
			li{
				a{
					color: $grey !important; 
					text-align: center;
					margin: 0px !important;
				}
				.btn-default{
					max-width: 300px;
					display: block;
					margin: 0 auto !important;
				}
				.admin{
					margin: 0px !important;
				}
			}
		}
	}
	#wrapper_profile_content{
		#profile_content{
			#profile_header{
				padding: 0px !important;
				margin: 0px !important;
				#cover_image{
					height: 200px !important;
				}
			} 
		}
		#feeds{
			#post{
				margin: 0px !important;
				margin-top: 10px !important;
			}
			#feed{
				margin: 0px !important;
				margin-top: 10px !important;
				.feed-header{
					.time{
						margin-right: 0px !important;
						margin-top: -24px !important;
					}
				}
				.comment{
					.time{
						display: block;
						margin-left: 0px !important;
					}
					.reply{
						margin-left: -27px !important;
						font-size: 12px;
					}
					.like{
						font-size: 12px;
						margin-left: -5px !important;
					}
				}
			}
		}
	}
}

/* Smarth Phones Landscape */
@media screen
and ( min-width: 481px )
and ( max-width: 767px )
and ( orientation: landscape ){

}

/* Tablets */
@media screen
and ( min-width: 768px )
and ( max-width: 1024px ){
	#main_navigation{
		.navbar-nav{
			li{	
				.admin{
					margin-right: 10px !important;
				}
				.home{
					margin-right: 0px !important;
				}
			}
		}
	}
	#wrapper_profile_content{
		#profile_content{
			#profile_header{
				padding: 0px !important;
				margin: 0px !important;
				#cover_image{
					height: 200px !important;
				}
				#profile_picture{
					img{
						margin: 0px !important;
					}
				}
			} 
		}
		#feeds{
			#post{
				margin: 0px !important;
				margin-top: 10px !important;
			}
			#feed{
				margin: 0px !important;
				margin-top: 10px !important;
				.feed-header{
					.time{
						margin-right: 0px !important;
						margin-top: -24px !important;
					}
				}
				.comment{
					.time{
						display: block;
						margin-left: 0px !important;
					}
					.reply{
						margin-left: -27px !important;
						font-size: 12px;
					}
					.like{
						font-size: 12px;
						margin-left: -5px !important;
					}
				}
			}
		}
	}
}

/* Tablets Landscape */
@media screen
and ( min-width: 768px )
and ( max-width: 1024px )
and ( orientation: landscape ){
	#wrapper_profile_content{
		#profile_content{
			#feeds{
				width: 100% !important;
			}
			#informations{
				display: none;
			}
		}
	}
}

/* Laptops */
@media screen
and ( min-width: 1025px )
and ( max-width: 1410px ){
	#wrapper_profile_content{
		#profile_content{
			#feeds{
				width: 65% !important;
			}
			#informations{
				margin-left: -60px !important;
				width: 48% !important;
				.btn{
					display: block !important;
					margin: 0 auto !important;
				}
				.btn-message{
					margin-top: 10px !important;
				}
				#main_informations{
					h2{
						line-height: 20px !important;
					}
				}
			}
		}
	}
}

/* Laptops Landscape */
@media screen
and ( min-width: 1025px )
and ( max-width: 1250px )
and ( orientation: landscape ){
	
}