@import 'colors';
@import 'typography';
@import 'media';
@import 'mixins';
body{
	font-family: 'Roboto', sans-serif;
	background-color: $body-bg;
}
/* MAIN NAVIGATION */
#main_navigation{ 
	background-image: linear-gradient(180deg, rgba(54, 61, 71, .84), rgba(54, 61, 71, .84)),  url(../img/bg-animation.gif);
	height: 50px;
	.navbar-brand{
		img{
			width: 36px;
			height: 36px;
			margin-top: -8px;
		}
	}
	.navbar-toggle{
		color: $white;
		font-size: 24px;
		padding-top: 0px;
	}
	.navbar-nav{
		li{	
			a{
				color: $white;
				@include transition(all ease 0.4s);
				&:hover{
					text-decoration: none;
					background-color: grey;
					@include transition(all ease 0.4s);
				}&:active{
					background-color: grey;
				}&:focus{
					background-color: grey;
				}
				.messages{
					color: $yellow;
				}
			}
			.btn-default{
				background-color: $white;
				color: $grey;
				padding: 10px 20px;
				border-radius: 0px;
				margin-top: 4px;
				margin-right: 10px;
				&:hover{
					background-color: grey;
					color: $white;
					@include transition(all ease 0.4s);
				}&:active{
					background-color: grey;
					color: $white;
				}&:focus{
					background-color: grey;
					color: $white;
				}
				i{
					padding-right: 6px;
				}
			}
			.admin{
				padding: 11px 10px;
				margin-right: 30px;
				img{
					width: 27px;
					height: 27px;
				}
			}
			.divider{
				border-left: 1px solid $white;
			    height: 35px;
			    position: absolute;
			    top: 8px;
			    right: 10px;
			}
		}
		.home{
			font-size: 23px;
			margin-right: 10px;
			a{
				&:hover{
					background-color: inherit;
					color: $yellow;
				}
			}
		}
	}
}

/* CHAT */
#chat{
	position: absolute;
	width: 210px;
	left: 0;
	top: 50px;
	height: 100%;
	background-color: $white;
	padding-right: 2px;
	border-right: 1px solid rgba(0, 0, 0, .19);
	.heading{
		margin-bottom: 4px;
	    padding-left: 8px;
	    border-bottom: 1px solid rgba(45, 62, 79, .05);
	    background-color: rgba(236, 240, 241, .57);
	    color: $chat-heading-color;
	    font-size: 14px;
	    line-height: 21px;
	    font-weight: 500;
	}
	.person{
		text-decoration: none;
		.media{
			margin: 7px 5px;
			.media-body{
				padding: 3px 5px;
				.online{
					float: right;
					color: $green;
    				font-size: 8px;
    				padding-top: 3px;
				}
				.media-heading{
					color: $black;
					font-weight: 400;
		    		font-size: 14px;
				}
				p{
					color: $chat-active-color;
		    		font-size: 12px;
				}
			}
		}
	}
}

/* PROFILE CONTENT */
#wrapper_profile_content{ 
	#profile_content{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
		padding-top: 65px;
		#profile_header{
			background-color: $white;
			border: 1px solid $profile-border-color;
			border-radius: 3px;
			padding: 13px 60px 0px;
			margin-left: -40px;
			margin-right: -30px;
			#cover_image{
				background-image: linear-gradient(180deg, rgba(54, 61, 71, .84), rgba(54, 61, 71, .84)), url('../img/bg-animation.gif');
				background-position: 0px 0px, 0px 0px;
    			background-size: auto, 480px;
				width: 100%;
				height: 235px;
				padding: 12px 7px 0px;
				.btn-group{
					button{
						background-color: transparent;
						color: $profile-update-menu;
						border: none;
						font-size: 16px;
						.fa{
							font-size: 13px;
							padding-left: 2px;
						}
					}
					.dropdown-menu{
						border-radius: 0px 0px 8px 0px;
						li{
							a{
								font-size: 16px;
								padding-top: 10px;
							}
						}
					}
				}
				#profile_picture{
					a{
						img{
							width: 145px;
							height: 145px;
							display: block;
							float: right;
							margin-top: 75px;
						}
					}
				}
			}
			#profile_navigation{
				a{
					font-size: 16px;
					font-weight: 400;
					padding-left: 4px;
					padding-right: 12px;
					display: inline-block;
					padding-bottom: 9px;
					padding-top: 9px;
					color: $profile-navigation-color;
					text-decoration: none;
				}
				.resume{
					border-left: 1px solid rgba(0, 0, 0, .19);
					border-right: 1px solid rgba(0, 0, 0, .19);
				}
				.orgs{
					border-right: 1px solid rgba(0, 0, 0, .19);
				}
			}
		}
		#block{
			background-color: white;
			height: 500px;
			width: 100%;
			margin-left: -40px;
			margin-right: -30px;
		}
		#informations{
			margin-left: -55px;
			margin-right: -40px;
			width: 330px;
			margin-top: 10px;
			button{
				    padding: 8px 0px;
				    width: 130px;
				    font-weight: 400;
				    font-size: 16px;
				    border-style: solid;
				    border-width: 1px;
				    border-color: rgba(73, 100, 123, .34);
				    border-radius: 3px;
				    background-color: #fff;
				    box-shadow: 1px 1px 1px 0 rgba(45, 62, 79, .19);
				    color: $profile-navigation-color;
				    text-align: center;
				    text-decoration: none;
			}
			.btn-message{
				margin-left: 20px;
			}
			.btn-following{
			    background-color: $green;
			    color: $body-bg;
			    font-weight: 500;
			}
			#main_informations{
				background-color: $white;
				border: 1px solid $profile-border-color;
				border-radius: 3px;
				padding: 0px 10px 10px;
				width: 100%;
				float: right;
				margin-right: 8px;
				margin-top: 10px;
				font-weight: 500;
				h2{
					line-height: 10px;
				}
				.sub{
					font-size: 12px;
				    line-height: 21px;
				    font-weight: 400;
				    text-align: center;
				    letter-spacing: 5px;
				    text-transform: uppercase;
				    color: $informations-sub-color;
				}
				.proffesion{
					color: $informations-proffeesion-color;
					line-height: 0px;
				    font-size: 12px;
				    text-align: center;
				}
				.location{
					font-size: 16px;
					color: $informations-location-color;
					text-decoration: none;
				}
			}
			#orgs{
				background-color: $white;
				border: 1px solid $profile-border-color;
				border-radius: 3px;
				padding: 0px 10px 0px;
				width: 100%;
				float: right;
				margin-right: 8px;
				margin-top: 10px;
				font-weight: 500;
				h6{
				    color: #404047;
				    font-size: 12px;
				    font-weight: bold;
				   	line-height: 6px;
				}
				.create-org{
				    color: $create-org-color;
				    font-size: 12px;
				    font-weight: 500;
				    text-decoration: none;
				}
				.media{
					border-bottom: 1px solid rgba(0, 0, 0, .19);
					text-align: left;
					cursor: pointer;
					margin-bottom: 5px;
					.media-body{
						padding-top: 5px;
						padding-left: 60px;
						.media-heading{
							font-size: 14px;
							line-height: 21px;
							color: $chat-heading-color;
							font-weight: 500;
							.notification{
								color: $notification-color;
    							font-size: 8px;
    							padding-left: 10px;
							}
						}
						.job-position{
							color: $profile-navigation-color;
						    font-size: 12px;
						    line-height: 10px;
						    font-weight: 400;
						}
					}
				}
				.unseen{
					border-right: 2px solid $yellow;
					.media-body{
						padding-left: 40px;
					}
				}
				.load-more-orgs{
					color: $informations-location-color;
					font-weight: 500;
    				font-size: 12px;
    				display: block;
    				padding: 10px 0px;
				}
			}
			#projects{
				background-color: $white;
				border: 1px solid $profile-border-color;
				border-radius: 3px;
				padding: 0px 10px 0px;
				width: 100%;
				float: right;
				margin-right: 8px;
				margin-top: 10px;
				font-weight: 500;
				h6{
				    color: #404047;
				    font-size: 12px;
				    font-weight: bold;
				   	line-height: 6px;
				}
				.create-project{
				    color: $create-org-color;
				    font-size: 12px;
				    font-weight: 500;
				    text-decoration: none;
				}
				.media{
					border-bottom: 1px solid rgba(0, 0, 0, .19);
					text-align: left;
					margin-bottom: 10px;
					cursor: pointer;
					margin-top: 3px;
					margin-bottom: 5px;
					.media-body{
						padding-top: 5px;
						padding-left: 100px;
						.media-heading{
							font-size: 14px;
							line-height: 21px;
							color: $chat-heading-color;
							font-weight: 500;
							.notification{
								color: $notification-color;
    							font-size: 8px;
    							padding-left: 6px;
							}
						}
						.job-position{
							color: $profile-navigation-color;
						    font-size: 12px;
						    line-height: 10px;
						    font-weight: 400;
						}
					}
				}
				.unseen{
					border-right: 2px solid $yellow;
					.media-body{
						padding-left: 80px;
					}
				}
			}
		}
	}
}